***1. Variables y operaciones básicas***


*   Declara dos variables ```a``` y ```b``` con los valores 5 y 3, respectivamente.
*   Suma ambos valores y muestra el resultado con ```printf```.



*   Declara una variable ```nombre``` con tu nombre y muestra un mensaje de bienvenida como:
```"Hola, Juan. Bienvenido a Python"``` (sustituyendo "Juan" por tu nombre).

*   Declara una variable ```x``` con el valor 10 y una variable ```y``` con el valor 4.
*   Calcula la resta de ```x``` menos ```y``` y muestra el resultado con ```printf()```.

*   Declara una variable ```base``` y ```altura``` con los valores 5 y 3 respectivamente.
*   Calcula el área de un triángulo utilizando su fórmula.
*   Muestra el resultado con ```printf```.

*   Declara dos variables ```num1``` y ```num2``` con los valores 15 y 4.
*   Calcula el cociente entero de la división (```//```) y el resto (```%```).
*   Muestra ambos resultados con ```printf()```.

*   Declara una variable ```lado``` con el valor 6.
*   Calcula el perímetro de un cuadrado (multiplicando el valor del lado por 4).
*   Muestra el resultado con ```printf()```.

*   Declara una variable ```nombre``` con tu nombre y una variable ```apellido``` con tu apellido.
*   Une ambos valores en una sola cadena y muestra el mensaje:
```"Tu nombre completo es: Juan Pérez"``` (sustituyendo por tus valores).