***4. Bucles***


*   Declara una variable  ```contador``` con valor 1.
*   Utiliza un bucle ```while``` para contar del 1 al 10 e imprimir cada número.

0
1
2
3
4
5
6
7
8
9
10

*   Declara una variable  ```suma``` con valor 0.
*   Utiliza un bucle ```for``` para calcular la suma de los primeros 10 números naturales (1 al 10).

La suma es: 1
La suma es: 3
La suma es: 6
La suma es: 10
La suma es: 15
La suma es: 21
La suma es: 28
La suma es: 36
La suma es: 45
La suma es: 55

*   Pide al usuario un número y guardalo en una variable ```num```.
*   Muestra la tabla de multiplicar de dicho número del 1 al 10 utilizando un bucle ```for```.

Introduce un número: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

*   Pide al usuario una ```palabra```.
*   Cuenta cuántas vocales tiene dicha palabra utilizando un bucle ```for```.

Jauja
Número de letras:  2

*   Investiga como funciona la función ```range```.
*   Utiliza un bucle ```for``` para imprimir todos los números pares del 1 al 20.

*   Genera una variable ```suma``` e inicializala a 0.
*   Utiliza un bucle ```while``` que pida números al usuario y los vaya sumando, siempre y cuando el número entrado por el usuario no sea 0.

6
7
5
6
0
Suma total:  24

*   Usa un bucle ```for``` para imprimir los números del 1 al 10.
*   Omite el número 5 utilizando la función ```continue```.

1
2
3
4
6
7
8
9
10